<header class="header-background">



<div class="homepage">
      <% if session[:user_id] %>
      	<%= link_to 'Sign Out', signout_path, class: "login" %>

	  <% elsif current_user %>
	  Signed in as: <%= current_user.email %>
	  	<%= button_to 'Sign out', sign_out_path, method: :delete, class: "login" %></p>

	  <% else %>
	  <div>
	 	<p class="sign_in"><%= link_to 'Sign In', sign_in_path, class: "login" %></p>
      	<p class="sign_in2"><%= link_to 'Facebook Sign In', signin_path, class: "login" %></p>
      </div>
    
      <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

</div>



</header>




